:root {
  --black: #110f17ff;
  --dp: #331822ff;
  --red: #ad3234ff;
  --black2: #0e0f14ff;
  --black1: #0d0e13ff;
  --c1: #161220ff;
  --c2: #532740ff;
  --c3: #ad3234ff;
  --c4: rgb(14, 129, 131);
  --c5: #732730ff;
  --c6: #141522;
}
p {
  font-size: 0.8rem;
}
h2 {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  background-color: var(--black);
}
body::-webkit-scrollbar {
  display: none;
}
* {
  font-family: Poppins;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #ff595a;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.8rem;
}
.logo {
  display: flex;
  width: 9rem;
}
.nav-right {
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("mylove.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 3rem;
  background-position-x: 15rem;
  background-size: 32rem;
  display: flex;
  align-items: center;
  padding: 30px 100px;
}
/* !----------2CONTENT---------- */
.content h2 {
  font-size: 2rem;
  font-weight: 400;
}
.content h3 {
  color: var(--c4);
  font-weight: 700;
  font-size: 1rem;
}

span {
  font-weight: 600;
  color: var(--c4);
  letter-spacing: 5px;
}

.feature {
  position: relative;
  width: 100%;
  display: flex;
}

.feature .contentft {
  background-color: var(--c1);
  padding: 5rem;
}

.heading {
  color: var(--c4);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn {
  width: 150px;
  padding: 10px;
  background-color: transparent;
  font-size: 15px;
  margin-top: 20px;
  border: 1px solid var(--red);
  border-radius: 3rem;
  font-weight: 400;
}

.btn:hover {
  transition: 0.3s ease all;
  background-color: #ff595a;
  color: #fff;
  cursor: pointer;
}

.feature .img-ft {
  background: url("img/213.png");
  width: 50%;
  background-size: cover;
  background-position: center;
}
/* ----------3_CONTENT---------- */
.design {
  background-color: var(--c6);
  padding: 5rem;
  text-align: center;
}
.serviceBx img {
  width: 15rem;
}
.serviceBx {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 2rem;
}

/* ?--------------music------------------ */

.image-msc img {
  width: 25rem;
}
.music {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}
.content-msc {
  padding: 5rem;
}
.image-msc {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
